.button {
    padding: 1.5em;
    text-align: center;
    background-color: var(--dark-brown);
    color: var(--light);
    cursor: pointer;
    font-weight: 700;
    border: none;
    width: 40%;
    margin: auto;
    border-radius: 7px;
    outline: rgba(54, 21, 0, 0.4) solid 1px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  
  .button:hover {
    outline-color: rgba(54, 21, 0, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px var(--light-pink);
  }


  .button-viewmore, 
  .form__button, 
  .button-adopt {
    display: block;
    padding: 1em;     
    width: 24%;
   
}

.button-viewmore {
  margin-top: 2rem;
}


/* botones del form reserva */

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 2rem;
  z-index: 1;
  cursor: pointer;
  
}

.close-btn:hover{
  color:  rgba(54, 21, 0, 0.6);
  transition: 0.2s ease-out;

}




/* boton submit */

.modal-input-btn {
  padding: 0 20px;
  margin-top: 2rem;
  height: 40px;
  line-height: 40px;  

}

