body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    /* background-color: #223; */
    margin-top: 25vh !important;
}

header{
    background: none !important;
    height: initial !important;
}

p{
    margin: 0;
}

/* :host{
    --width: 200px;
    --height: 300px;
} */

.grid{
    max-width: 1600px;
    margin: auto;
    width: 88%;
}

.cont_cats{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.box_card{
    position: relative;
}

.cont_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em 2em;
    grid-template-rows: auto;
}

.container{
    background-color: transparent;
    text-align: center;
    color: #ffffff;
    transform-style: preserve-3d;
    transition: all 1s linear;
    width: 100%;
    /* min-height: 37vh; */
    min-height: 300px;
    border-radius: 25px;
    display: inline-flex;
    position: relative;
    /* overflow: hidden; */

    transform-origin: 50% 50%;
    /* perspective: 3000px; */
    /* animation: spin 5s linear infinite; */
}

.container:hover{
    transform: rotateY(180deg);
}

.card{
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    /* transform: rotateX(15deg)rotateY(15deg) */
}


.front{
    background: #847;
    box-sizing: border-box;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 10px 5px gold;
}

.front>div{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* background-image: url('../img/cat3.jpg'); */
    /* image-rendering: pixelated; */
    background-size: cover;
}

.front>div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.back{
    box-sizing: border-box;
    border: 10px outset #fff;
    /* box-shadow: 0 0 10px 5px gold; */
    box-shadow:
    0 0 10px #0008 inset,
    0 0 8px 2px var(--dark-brown);
    color: #000000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;

}

.title{
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, indigo 15%, #0008) 0% rgba(0, 0 ,0 , 0.0%);
    width: 88%;
    height: initial;
    border-radius: 25px;
    border: 4px solid var(--details);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--light-pink);
    background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
    color: var(--light)
}

.title p{
    padding: 4px 0;
}

@keyframes spin{
    from{
        transform: rotateY(0deg)
    }

    to{
        transform: rotateY(360deg)
    }
}

.top{
    padding: 0.8em 0;
}

.color_filter{
    display: inline-flex;
    align-items: center;
}

.color_list>li input{
    display: block;
}

/* .cont_back_card{
    display: flex;
    align-items: center;
    justify-content: center;
} */
























/* .container{
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    cursor: pointer;
    width: 200px;
    height: 300px;
    border-radius: 25px;
    position: relative;
    display: inline-flex;
}

.container:hover{
	transform: rotateY(180deg);
} */

/* .card{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.front{
    background-color: rgb(40, 213, 46);
    z-index: 12;
    backface-visibility: hidden;
}

.back{
    background-color: #e23;
} */