html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    all: unset;
}

body {
    overflow-x: hidden;
    position: relative;
}

/* ---------------------------------------------------------------- */

.content {
    background-color: #fff;
    border-radius: 10px;
    padding: 82px 0px;
    width: 100%;
}

.slider_cats {
    height: 450px;
    min-height: 450px;
}

.cont_slider_cats {
    display: block;
    text-align: center;
    width: 100%;
}

.box_slider_cats {
    width: 100%;
    height: 100%;
    padding: 22px 0px;
    position: relative;
}

.box_slider_cats:before {
    position: absolute;
    background-color: #E3E3E3;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0%;
    content: "";
    z-index: 8;
}

.box_slider_cats ul {
    display: grid;
    max-width: 1200px;
    margin: auto;
    z-index: 10;
    position: relative;
    padding: 0px;
    grid-template-columns: repeat(5, 1fr);
}

.box_slider_cats ul li {
    list-style: none;
    padding: 22px;
    transition: all 0.5s linear;
}

.box_slider_cats ul li:hover {
    transform: scale(1.2);
}

.box_slider_cats ul li:hover img {
    filter: blur(0) !important;
}

.circle_cat {
    vertical-align: middle;
    width: 114px;
    height: 114px;
    max-width: 114px;
    background: #b9bccd;
    color: #361500;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid #361500;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.actv {
    transition: all 0.5s ease-in-out;
    transform: scale(1.25);
    border: 4px solid #FDD2BF;
}

.box_slider_cats ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

.actv img {
    filter: grayscale(0) !important;
}

.actv:hover img {
    filter: blur(0);
    ;
}

.blur {
    filter: blur(0.1rem) grayscale(1) !important;
}

/* ================================================================= */

.cont_box_slider_cat_display {
    height: 0%;

    display: none;
}

.cont_show {
    display: block;
}

.box_slider_cat_display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.slider_cat_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_cat_text p {
    width: 90%;
    margin: 0;
}

/* .button-viewmore {
    padding: 1em;  
    margin: auto;
    width: 24%;
   
} */



/* Popup */

.overlay{
    background: rgba(54, 21, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background-color: var(--light);
    box-shadow: 0px 0px 5px 0px rgba(54, 21, 0, 0.2);
    border-radius: 3px;
    color: var(--dark-brown);
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .2s ease all;
    transform: scale(0.7);
    opacity: 0;
    z-index: 2;
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: var(--dark-brown);
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
    color:  rgba(54, 21, 0, 0.6);
}

.popup img{
    margin-bottom: 10px;
    opacity: 0;
}

.popup h3{
    font-size: 36px;
    font-family:'FuturaPTBook';
    opacity: 0;
    margin-bottom: 20px;
}

.popup form .contenedor-inputs{
    opacity: 0;
}


.popup form .contenedor-inputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    text-align: center;
    text-transform: lowercase;
    border: 1.5px solid var(--dark-brown);
    color: var(--dark-brown);
    font-family: 'FuturaPTBook' ;
    
    
}


.popup form .contenedor-inputs input:focus{
    outline: unset;
    border: 2px solid var(--dark-brown);
    
}

/* .popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: var(--light-pink);
    background-color: var(--dark-brown);
    font-family: 'FuturaPTBook';
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    outline: 1px solid;
    outline-color: rgba(54, 21, 0, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.popup form .btn-submit:hover{
    outline-color: rgba(54, 21, 0, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px var(--light-pink);
} */

.popup form ::placeholder{
    color: var(--dark-brown);
    opacity: 0.6;
}

.mensajes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertencias{
    text-align: left;
    color: red;
    padding-top: 20px;
    font-family: 'FuturaPTBook';
    font-size: 19px;
}

.enviar{
    /* width: 200px; */
    text-align: left;
    color: var(--dark-brown);
    padding-top: 20px;
    font-family: 'FuturaPTBook';
    font-weight: 600;
    font-size: 15px;
}

/* Animaciones */

.popup.active{
    opacity: 1;
    transform: scale(1);
}

.popup.active img{
    animation: entradaImagen .8s ease .5s forwards;
}

.popup.active h3{
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs{
    animation: entradaInputs 1s ease 1s forwards;
}

@keyframes entradaImagen{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaTitulo{
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs{
    from{
        
        opacity: 0;
    }
    to{
        
        opacity: 1;
    }
}
/* popup_cerrar */

.slider_cat_display {
    object-fit: contain;
    width: 100%;
    height: 450px;
}

.slider_cat_display img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slider_reorder_cat {
    order: -1;
}

.slider_reorder_cat img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cat_section_index {
    width: 90%;
    margin: 12px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.cat_section_index div {
    background-color: #000;
}

.cat_section_index div img {
    width: 100%;
    height: 100%;
}

.arrow_up {
    position: fixed;
    right: 25px;
    bottom: 12px;
    font-size: 2rem;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
    z-index: 99;
}

/* ================================================================= */

.loader_cont {
    background: #000 no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 190;
    top: 0px;
}

.loader_box{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(50%, 50%);
}

.loader {
    width: 48px;
    height: 40px;
    margin-top: 30px;
    display: inline-block;
    position: absolute;
    background: #FFF;
    border-radius: 15% 15% 35% 35%;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 45px;
    top: 8px;
    border: 4px solid #FFF;
    width: 16px;
    height: 20px;
    border-radius: 0 4px 4px 0;
}

.loader::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    color: #FFF;
    top: -15px;
    left: 11px;
    box-sizing: border-box;
    animation: animloader 1s ease infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
    }

    100% {
        box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
    }
}

/* ================================================================= */

.hidden_rgth{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.hidden_lft{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(100%);
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/* .cafes__item:nth-child(2){
    transition-delay: 900ms;
}

.cafes__item:nth-child(3){
    transition-delay: 1500ms;
}

.cafes__item:nth-child(4){
    transition-delay: 1800ms;

    .cafes__item:nth-child(5){
    transition-delay: 900ms;
}

.cafes__item:nth-child(6){
    transition-delay: 1500ms;
}

.cafes__item:nth-child(7){
    transition-delay: 1800ms;

    .cafes__item:nth-child(8){
    transition-delay: 900ms;
}

.cafes__item:nth-child(9){
    transition-delay: 1500ms;
} */


.btn-submit{
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 12px 28px
}

/* =================================================================

    Qué hace inset?

    Mirar que pasa si se mueve la línea de nav ul li:hover debajo del nthchild 1

*/