html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.katty{
   position: relative;
   top: 20px;
   text-decoration: none;
}

.katty:before{
    background-color: #000000;
    position: absolute;
    content: "";
    left: 0px;
    bottom: -2px;
    width: 0%;
    height: 1px;
    transition: all 0.5s ease-in-out;
}


.katty:hover{
    color: #000;
}

.katty:hover::before{
    width: 100%;
    transition: all 0.5s ease-in-out;
}


body{
    min-height: 100vh;
    background: rgb(201, 201, 223);
}

nav{
    position: fixed;
    inset: 20px;
    background: #000000;
    width: 68px;
    border-left: 10px solid #000000;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.05);
    transition: 0.5s;
    z-index: 99;
}

nav.active{
    width: 300px;
    border-radius: 20px;
}

.toggle{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    bottom: 15px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(-5px);
    transition: 1s;
}

.toggle::after{
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(5px);
    transition: 1s;
}

nav.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
}

nav.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
}

nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}

nav ul li{
    position: relative;
    list-style: none;
    width: 100%;
    /* background: #ffffff; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

nav ul li:hover{
    background: #ffffff;
    color: #222;
}

nav ul li:nth-child(1){
    top: 20px;
    margin-bottom: 40px;
    background: none;
}

nav ul li:not(:first-child):hover::before{
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 0 7.5px #fff;
}

nav ul li:not(:first-child):hover::after{
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 0 7.5px #fff;
}

nav ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}

nav ul li:hover:not(:first-child) a{
    color: #365fa1;
}

nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

nav ul li a .icon ion-icon{
    font-size: 1.75em;
}

nav ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* ---------------------------------------------------------------- */

.content{
    background-color: #fff;
    border-radius: 10px;
}

.slider_cats{
    height: 450px;
    min-height: 450px;
}

/* .content{
    padding-left: 100px;
    margin-top: 20px;
} */

.cont_slider_cats{
    display: block;
    text-align: center;
}

.box_slider_cats{
    width: 100%;
    height: 100%;
    padding: 22px 0px;
    position: relative;
}

.box_slider_cats:before{
    position: absolute;
    background-color: #E3E3E3;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0%;
    content: "";
    z-index: 8;
}

.box_slider_cats ul{
    display: grid;
    max-width: 1200px;
    margin: auto;
    z-index: 10;
    position: relative;
    padding: 0px;
    grid-template-columns: repeat(5, 1fr);
}

.box_slider_cats ul li{
    list-style: none;
    padding: 22px;
    transition: all 0.5s linear;
}

.box_slider_cats ul li:hover{
    transform: scale(1.2);
}

.box_slider_cats ul li:hover img{
    filter: blur(0) !important;
}

.circle_cat{
    vertical-align: middle;
    width: 114px;
    height: 114px;
    max-width: 114px;
    background: #b9bccd;
    color: #506a85;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid #cecece;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.actv {
    transition: all 0.5s ease-in-out;
    transform: scale(1.25);
    border: 4px solid #000000;
}

.box_slider_cats ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:grayscale(1);
}

.actv img{
    filter: grayscale(0) !important;
}

.actv:hover img{
    filter: blur(0);;
}

.blur{
    filter: blur(0.1rem) grayscale(1) !important;
}



/* =================================================================

    Qué hace inset?
    
    Mirar que pasa si se mueve la línea de nav ul li:hover debajo del nthchild 1

*/

.cont_box_slider_cat_display{
    height: 0%;

    display: none;
}

.cont_show{
    display: block;
}

.box_slider_cat_display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.slider_cat_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_cat_text p{
    width: 90%;
    margin: 0;
}

.slider_cat_text button{
    margin-top: 24px;
    border-radius: 25px;
    border: 1px solid #28badf;
    outline: none;
    padding: 8px 16px;
    cursor: pointer
}

.slider_cat_display{
    object-fit: contain;
    width: 100%;
    height: 450px;
}

.slider_cat_display img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slider_reorder_cat{
    order: -1;
}

.slider_reorder_cat img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cat_section_index{
    width: 90%;
    margin: 12px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.cat_section_index div{
    background-color: #000;
}

.cat_section_index div img{
    width: 100%;
    height: 100%;
}