:root {

    /* paleta */
    --white: #ffffff;
    --black: #0000;
    --dark-brown: #361500;
    --light: #FFEDED;
    --light-pink: #FDD2BF;
    --details: #76BA99;

}

@font-face {
    font-family: 'Olivia';
    src: url('fonts/Olivia.ttf') format('truetype');

}

@font-face {
    font-family: 'FuturaPTBook';
    src: url('/fonts/FuturaPTBook.otf') format('truetype');

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    background-color: var(--white);
} */

/* .contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
} */

/* Botón de adoptame */

/* .btn-abrir-popup{
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: var(--light-pink);
    background-color: var(--dark-brown);
    font-family: 'FuturaPTBook';
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    outline: 1px solid;
    outline-color: rgba(54, 21, 0, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-abrir-popup:hover{
    outline-color: rgba(54, 21, 0, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px var(--light-pink);
} */

/* Popup */

.overlay{
    background: rgba(54, 21, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 50;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background-color: var(--light);
    box-shadow: 0px 0px 5px 0px rgba(54, 21, 0, 0.2);
    border-radius: 3px;
    color: var(--dark-brown);
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .2s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: var(--dark-brown);
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
    color:  rgba(54, 21, 0, 0.6);
}

.popup img{
    margin-bottom: 10px;
    opacity: 0;
}

.popup h3{
    font-size: 36px;
    font-family:'FuturaPTBook';
    opacity: 0;
    margin-bottom: 20px;
}

.popup form .contenedor-inputs{
    opacity: 0;
}


.popup form .contenedor-inputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    text-align: center;
    border: 1.5px solid var(--dark-brown);
    color: var(--dark-brown);
    font-family: 'FuturaPTBook' ;
    
}

.popup form .contenedor-inputs input:focus{
    outline: unset;
    border: 2px solid var(--dark-brown);
    
}

.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: var(--light-pink);
    background-color: var(--dark-brown);
    font-family: 'FuturaPTBook';
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    outline: 1px solid;
    outline-color: rgba(54, 21, 0, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.popup form .btn-submit:hover{
    outline-color: rgba(54, 21, 0, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px var(--light-pink);
}

.popup form ::placeholder{
    color: var(--dark-brown);
    opacity: 0.6;
}

.mensajes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertencias{
    text-align: left;
    color: red;
    padding-top: 20px;
    font-family: 'FuturaPTBook';
    font-size: 19px;
}

.enviar{
    /* width: 200px; */
    text-align: left;
    color: var(--dark-brown);
    padding-top: 20px;
    font-family: 'FuturaPTBook';
    font-weight: 600;
    font-size: 15px;
}

/* Animaciones */

.popup.active{
    opacity: 1;
    transform: scale(1);
}

.popup.active img{
    animation: entradaImagen .8s ease .5s forwards;
}

.popup.active h3{
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs{
    animation: entradaInputs 1s ease 1s forwards;
}

@keyframes entradaImagen{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaTitulo{
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs{
    from{
        
        opacity: 0;
    }
    to{
        
        opacity: 1;
    }
}

