:root {
  --white: #ffffff;
  --black: #0000;
  --dark-brown: #361500;
  --light: #FFEDED;
  --light-pink: #FDD2BF;
  --details: #76BA99;
  --whatsapp: #43C253;
  font-size: 16px;
  font-family: Futura;
}

@font-face {
  font-family: Futura;
  src: url("../fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: Olivia;
  src: url("../fonts/Olivia.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

.body {
  background-color: rgba(255, 237, 237, 0.243);
}


/*Header*/

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/header/header1.jpg);
  background-attachment: fixed;
  background-position: center -12px;
  background-repeat: no-repeat;
  font-family: Futura;
  background-size: cover;
}

nav {
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.nav1 {
  background: rgba(253, 210, 191, 0.25);
  height: 100px;
  z-index: 10;
}

.nav2 {
  background: rgba(253, 210, 191, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  height: 110px;
  z-index: 11;

}

.contenedor-nav {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: inherit;
  overflow: hidden;
}

.btn-header {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Futura;
  color: var(--dark-brown);
  border-bottom: 3px solid transparent;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.btn-header::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: var(--dark-brown);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.btn-header:hover {
  color: var(--light-pink);
  text-shadow: 1px 1px 6px var(--dark-brown);
}

.btn-header:hover::before {
  transform: scaleX(1);
}

.logo .logo img {
  height: 80px;
}

.logo img:hover{
  filter: hue-rotate(90deg);
}

.icono {
  display: none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.carrito a svg {
  fill: var(--dark-brown);
}

.carrito a svg:hover {
  fill: var(--light-pink);
  filter:drop-shadow(1px 1px 6px var(--dark-brown));
}

.textos {
  width: 88%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

.textos h1 {
  font-family: 'Olivia';
  color: var(--dark-brown);
  font-style: normal;
  font-size: 4rem;
  margin-top: 24px;
  margin-bottom: 15px;

}


.main {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
  position: relative;
  width: 88%;
  max-width: 1600px;
}

.container {
  width: 100%;
}

.intro {
  position: relative;
  padding: 4vh 0px;
}

.contenedor__intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 520px);
  z-index: 3;
}

.imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  /* filter: grayscale(100%); */
}

.img {
  position: relative;
}

.imgs:nth-child(2) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.parrafo__intro {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.parrafo__intro p {
  color: var(--dark-brown);
  font-family: Futura;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 62px;
  animation: typing 4s steps(241) 1s 1 normal both;
}

.parrafo__intro p span {
  font-family: Olivia;
}

/* .intro {
  display: flex;
}

.intro__card {
  width: 40%;
}

.intro__figure {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  height: 100%;
  width: 70%;
}

.intro__img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.intro__img1 {
  grid-area: 1 / 1 / 2 / 2;
}

.intro__img2 {
  grid-area: 2 / 1 / 3 / 4;
}

.intro__img3 {
  grid-area: 1 / 2 / 2 / 3;
}

.intro__img4 {
  grid-row: 1 / 4;
  grid-column-start: 3;
}

.intro__paragraph {
  font-size: 2rem;
} */

.headers__title {
  font-family: Olivia;
  font-size: 4rem;
  letter-spacing: 1px;
  color: var(--dark-brown);
  line-height: 44px;
  margin-top: 1em;
  text-align: center;
}

.menu {
  background-color: var(--dark-brown);
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 300px);
  color: var(--light);
  text-align: center;
  font-family: Futura;
  padding: 4.5em 0px;
  gap: 3em 1em;
  justify-content: center;
  place-items: center;
}

.item1 {
  grid-area: 1 / 1 / 2 / 2;
}

.item2 {
  grid-area: 1 / 2 / 2 / 3;
}

.item3 {
  grid-area: 1 / 3 / 2 / 4;
}

.item4 {
  grid-area: 2 / 1 / 2 / 2;
}

.item5 {
  grid-row: 2 / 3;
}

.item6 {
  grid-area: 2 / 2 / 3 / 3;
}

.menu__item {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu__img {
  display: inline-block;
  width: 100px;
  height: 100px;
  transition: all 1s ease 0s;
  filter: brightness(100%);
}

.menu__img:hover {
  filter: brightness(130%);
}

.menu__title {
  font-family: Olivia;
  font-size: 2rem;
  color: var(--light);
  line-height: 44px;
  margin-top: 1em;
  text-align: center;
  letter-spacing: 0px;
}

.menu__description {
  font-family: Futura;
  padding: 1rem;
  text-align: center;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cafes {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin: auto;
  height: 39rem;
  transition: all 0.5s ease-in-out 0s;
  overflow: hidden;
}

.cafes__img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.cafes__item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear 0s;
}

.cafes__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.5s linear 0s;
}

.cafes__img:hover {
  filter: saturate(150%);
  transform: scale(1.01);
}

.cafes__item--wide {
  grid-column: span 2 / auto;
}

.cafes__item--tall {
  grid-row: span 2 / auto;
}

.cafes__item--big {
  grid-area: span 2 / span 2 / auto / auto;
}

#load_more {
  position: relative;
  bottom: -30px;
  left: 0px;
  cursor: pointer;
  transform: translate(0%, 50%);
  text-align: center;
  display: block;
  transition: all 0.5s ease-in-out 0s;
}

.load_more_height_first {
  height: 92rem;
  transition: all 0.5s ease-in-out 0s;
}

.aboutus {
  color: var(--light-pink);
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 1fr auto;
  gap: 1em;
}

.aboutus__contact {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--dark-brown);
  padding: 2em;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.aboutus__title {
  font-family: Olivia;
  font-size: 2.6em;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  text-align: center;
}

.contact__item {
  padding: 0.4em 0px;
  font-size: 1.2rem;
  vertical-align: middle;
}

.aboutus__icon {
  display: block;
  font-size: 1.2rem;
  margin-top: 0.6em;
}

.map__iframe {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form {
  grid-area: 2 / 1 / 3 / 3;
  color: var(--dark-brown);
  text-align: center;
  padding: 2em;
  border-radius: 7px;
}

.form__container {
  width: 77%;
  margin: auto;
}

.form__title {
  font-family: Olivia;
  font-size: 2.6em;
  border-top: 1px solid black;
  padding-top: 1em;
  letter-spacing: 2px;
}

.form__paragraph {
  display: inline-block;
  color: var(--dark-brown);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.input-nws {
  padding: 1.2em 1.5em;
  border-radius: 7px;
  width: 100%;
  border: 1px solid var(--dark-brown);
}

.input-nws::placeholder {
  color: var(--dark-brown);
  text-transform: uppercase;
}

.errorcontainer {
  position: relative;
  text-align: left;
  padding-bottom: 1em;
  visibility: hidden;
}

.iconerror {
  position: absolute;
  right: 40px;
  bottom: 53px;
}

.error {
  text-align: left;
  font-style: italic;
  font-size: 1.2rem;
}

.whatsapp__icon {
  display: block;
  position: fixed;
  left: 94%;
  top: 75%;
  background-image: url("../img/icons/whatsapp.svg");
  background-color: var(--whatsapp);
  background-repeat: no-repeat;
  background-size: 43px;
  background-position: center center;
  width: 59px;
  height: 59px;
  border-radius: 50px;
  border: 1px solid rgba(161, 159, 159, 0.224);
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  z-index: 23;
}

.whatsapp:hover {
  opacity: 0.7;
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

@keyframes escribir {
  from { width: 100% }
  to { width:0% }
}





/* .typewriter-effect {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.typewriter-effect > .text {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
}

.typewriter-effect:after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
} */



/* FORM DE RESERVA */


.modal {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(12, 1, 1, 0.89);
  display: none;
  box-shadow: 0px 0px 5px 0px rgba(54, 21, 0, 0.2);
}

.modal-content {
  background: var(--light);
  margin: 11% auto;
  width: 60%;  
  position: relative;
  border-radius: 3px;
  min-height: 620px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  }


.modal-content-left {
  position: relative;
  
}

.modal-img {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 50%;
 left: 50%;
 object-fit: cover;
 transform: translate(-50%, -50%);
}
.modal-content-right {
  position: relative;
  
  
}

.modal-form {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 74%;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}

.modal-form h1 {
  font-size: 36px;
  text-align: center;
  
  margin-bottom: 1.5rem;
}

.form-validation-reserva {
  margin-bottom: 0.5rem;
  width: 80%;
}

  
.form-validation-reserva p {
  font-size: 1rem;
  color: red;
 
  top: 1.8rem;
  
  display: none;
}

.form-validation-reserva.error p {
  display: block;
}

.form-date {
  display: flex;
  width: 80%;
  gap: 3em;
  align-items: center;

}


.modal-input {
  display: block;
  padding: 1.2rem;
  /* padding-left: 0.5rem; */
  border: none;
  height: 2rem;
  width: 100%;
  margin-bottom: 0.4rem;
  margin-top: 0.5rem;
  text-transform: none;
  border: 1px solid var(--dark-brown);
  /* margin-bottom: 0.8rem; */
}



.modal-input::placeholder {
  color: var(--dark-brown);
  opacity: 0.6;



}







@media screen and (max-width: 768px) {
  .modal-content-left {
    display: none;
  }

  .modal-content {
    grid-template-columns: auto;
    margin: 15% auto;
    width: 70%;
    height: 75%;
  }

  .modal-input-btn {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .modal-content {
    margin: 30% auto;
    width: 90%;
    height: 80%;

  }
}



/* header  */


/* Modo móvil */

@media screen and (max-width:700px) {

  .nav2 {
      background: rgba(255, 237, 237, 0.25);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(5px);
  }

  .icono {
      display: inline-block;
      margin-left: 300px;
      cursor: pointer;

  }

  .carrito a svg {
      display: none;
  }

  nav .enlaces {
      position: fixed;
      top: 80px;
      left: 0;
      transition: 1s;
      width: 0;
      overflow: hidden;
      background: rgba(255, 237, 237, 0.25);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(10px);
  }


  .btn-header {
      display: block;
      width: 100%;
      height: 50px;
      padding: 20px;
      text-align: center;

  }

  .btn-header:hover {
      background-color: RGB(253, 210, 191, 0.25);
      transition: 0.6;
  }

  .textos {
      width: 95%;
      height: 70%;
      display: flex;
      justify-content: flex-end;
      color: #fff;
      overflow: hidden;
      text-align: center;
      align-items: center;
  }

  .textos h1 {
      font-size: 50px;
  }

}
